@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')
@import url("https://fonts.googleapis.com/css?family=Lato:400, 300, 100, 700, 900")
// workout sheet bg
$wsbg: #EDF0F5    

// fonts
$title-font: "Lato"
$main-font: 'Lato', sans-serif

// Main colors
$font-color: #2c3e50
$myGray:#2a2929
$myBlue: #3072e5    

// Workout Calendars Page
$calendar-color: #2a2929
$week-color: #414650 
$calendar-bg: #EBEFF3
$pluse: #7E8784  // Pluse workout color or rest

// Auth page
$body-bg: #c1bdba
$form-bg: #13232f
$white: #ffffff
$black: #000000

// Workout cards    
$unlockCard-bg: rgba(19, 35, 47, 1)    
$main: #3072e5
$main-light: lighten($main, 5%)
$main-dark: darken($main, 5%)

$gray-light: #a0b3b0
$gray: #ddd

$thin: 300
$normal: 400
$bold: 600
$br: 4px


@mixin grid($cols, $mgn)
  float: left
  width: ((100% - (($cols - 1) * $mgn)) / $cols )
  margin-right: $mgn
  margin-bottom: $mgn
  &:nth-child(#{$cols}n)
    margin-right: 0
