*, *::before, *::after
  box-sizing: border-box
  padding: 0

body
  background-color: $black
  
#app
  font-family: $main-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: $font-color

// #logo 
//   img 
//     width: 55%
//     height: auto

// #nav 
//   height: 10vh
//   padding:5px
//   background: #080808
//   display: flex
//   align-items: center
//   box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1)
//   #link 
//     margin-top: 1em

//   a 
//     font-weight: bold
//     font-size: large
//     color: rgba(255,255,255,.35)
//     margin: 0px 1em
//     &.router-link-exact-active 
//       color: #357BF5

//     &:hover 
//       color: #FFFFFF
//       text-decoration: none
