// Hero section
.hero
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url('../../images/hero.jpg')
    height: 100vh
    background-position: center center
    background-size: cover
    background-color: $myBlue
    padding: 0.5rem calc((100vw - 1200px) / 2)
    display: flex
    justify-content: center
    align-items: center
    font-family: 'Lato'
    &::before
        background: rgba(0, 0, 1, 0.9)
        opacity: .9

.hero__content
    color: $white
    padding: 3rem
    line-height: 1
    width: 100%
    text-align: start

.hero__content h3
    font-size: clamp(1rem, 4vw, 2rem)
    text-transform: capitalize
    margin-bottom: .6em
    
.hero__content h1
    font-size: clamp(2.5rem, 7vw, 4.5rem)
    text-transform: uppercase
    font-weight: 900
    letter-spacing: 4px
    margin-bottom: .5em
  
.hero__content p
    // font-size: clamp(1rem, 3.8vw, 1.5rem)
    margin-bottom: 3.5rem
    font-size: clamp(13px, 3vw, 18px)
    line-height: 25px
    letter-spacing: 2px
    padding: 0px 35% 0 0
    text-transform: capitalize

.home_button, .button
    padding: 1rem 3rem
    border: none
    background: black
    color: $white
    font-size: 1rem
    cursor: pointer
    outline: none
    transition: 0.3s ease
    text-decoration: none
    border-radius: 2px
    &:hover
        background: $myBlue
        color: $white
        text-decoration: none
@media screen and (max-width: 768px)
    .hero
        height: 100vh
        background-position: center center
        background-size: cover
        padding: 0.5rem calc((100vw - 1200px) / 2)
        display: flex
        justify-content: flex-start
        align-items: center

// Members section
.memberships
  background: $black
  color: $white
  padding: 6rem calc((100vw - 1100px) / 2)
  text-align: center 
  h1
    margin-bottom: 1rem
    font-size: clamp(1.4rem, 5vw, 3rem)
    padding: 0 1rem
    font-weight: 700
  h3 
    margin-bottom: 3rem
    font-size: clamp(1rem, 3vw, 1.5rem)
    padding: 1rem

.membership__wrapper
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding: 1rem
.membership__title
    position: absolute
.membership__card
    cursor: pointer
    height: 450px
    overflow: hidden
    width: 325px
    background: $black !important
    border-radius: 10px
    display: flex
    flex-direction: column
    justify-content: space-between
    box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19)
    .cover
      height: 450px
      border-radius: 10px
      transition: all .2s ease-in-out
      cursor: pointer
      &:hover
        transform: scale(1.1)
    .workout_benifits
      padding: 2.5em
      text-align: start
      h2
        margin-bottom: 1em
        font-size: 1.4em
     

.membership__card h3
    font-size: clamp(1rem, 5vw, 2rem)
    
@media screen and (max-width: 540px), (width: 768px), (height: 1366px) and (width: 1024px)
    .hero
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../../images/hero_mobile.jpg')
        height: 100vh
        background-position: center center
        background-size: cover
        padding: 0.5rem calc((100vw - 1200px) / 2)
        display: flex
        justify-content: flex-start
        align-items: center
        .hero__content
            padding: 3rem 2rem
            text-align: center
            p
                padding: 0 3em
    .membership__wrapper
        flex-direction: column
        align-items: center
    .membership__card
        width: 90%
        margin-bottom: 2rem
@media screen and (max-width: 414px)
    .hero__content
            p
                line-height: 18px
@media screen and (max-width: 1023px)
    .membership__card
        width: 90%
        margin-bottom: 2rem
    .membership__wrapper
        flex-direction: column
        align-items: center
        padding: 3rem
  
// Introuction section
#introduction
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url('../../components/Home/img/introductionBg.jpg')
  background-position: center center
  background-size: cover
  min-height: 100vh  
  display: flex
  justify-content: center
  align-items: center
.intro
  padding: 2em
  margin-bottom: 60px
  &::after 
    content: ""
    display: block
    clear: both
  li 
    list-style: none
    float: left
    width: 33.33%
    text-align: center
    padding: 2em 0
    a
      color:#ffffff
      text-decoration: none
      font-weight: bold
      font-size: 1.25em
      font-style: italic
      letter-spacing: 5px
      &:hover
        color: $myBlue
        transition: all .5s     
  img
    background-color: #ffffff
    border: 1px solid#ffffff
    width: 60%
    margin: 20px 20%   
    padding: 1em
    border-radius:50%
    margin-bottom: 3em   
  .wrapper 
    width: 100%
    max-width: 1200px
    margin: 0 auto
    padding: 0 20px
    box-sizing: border-box
    h1
      color:#ffffff
      margin: 1rem
      padding: 8px
      text-align: center
      letter-spacing: 10px
      font-size: clamp(1.4rem, 5vw, 3rem)
      font-style: italic
      // font-size: 2.75em
      font-weight: 700

@media screen and (max-width: 500px)
  .intro img
    width: 70%
    padding: .5em
    margin-bottom: 2em
  .intro li a
    font-size: 1em  




// Sample section
#samples
  display: flex
  justify-content: center
  align-items: center
  
.samples
  width: 100%
  max-width: 1200px
  margin: 0 auto 5em auto
  padding: 2rem
  box-sizing: border-box
  h1
    text-align: center
    margin: 1em 0
    padding:10px
    letter-spacing: 2px
    color: #ffffff 
    font-weight: 700
  li
    list-style: none
    @include grid(6, 2%)
    img
      width: 100%


//email section
.home_email
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.1) 100%), url('../../images/home_email.jpg') no-repeat center
    background-size: cover
    height: 450px
    width: 100%
    padding: 5rem calc((100vw - 1300px) / 2)
    color: $white
    display: flex
    justify-content: center
    align-items: center
#email
    background: $white
.email__content
    display: flex
    flex-direction: column
    align-items: center

    & h1
        text-align: center
        margin-bottom: 1rem
        font-size: clamp(1rem, 5vw, 2.5rem)
        padding: 0 1rem

    & p
        text-align: center
        font-size: clamp(1rem, 2.5vw, 10.5rem)
        padding: 0 1rem
        margin-bottom: 2rem

form
    z-index: 10

.form__wrap input
    padding: 1rem 1.5rem
    outline: none
    width: 350px
    height: 50px
    border: none
    margin-right: 1rem
    border-radius: 4px

@media screen and (max-width: 768px)
    .form__wrap
        display: flex
        flex-direction: column
        padding: 0 1rem
        & input
            margin-bottom: 1rem
            width: 100%
            margin-right: 0

        button
            width: 100%
            min-width: 350px

@media screen and (max-width: 400px)
    .hero__content p 
        font-size: 14px
        margin-bottom: 3rem
