.workout
  background-image: url("./img/workout-bg.jpg")
  background-position: center center
  background-size: cover
  padding: 0.5rem calc((100vw - 1200px) / 2)
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap
  min-height: 80vh

.workouts
  margin: 1em 0

.max30:hover
  opacity: 0.8

.workout-cards
  display: flex

.v-c
  margin: 1em

.vb
  width: 100%

.wks
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  top: 45%
  text-align: center
  background-color: black
  padding: 10px
  color: #eee
  cursor: pointer
