.workout
  background-image: url("./img/workout-bg.jpg")
  background-position: center center
  background-size: cover
  padding: 0.5rem calc((100vw - 1200px) / 2)
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap
  min-height: 80vh

.cards
  display: flex
  flex-wrap: wrap
  margin: 1em 1em

  .card_theme
    background-color: black !important
    color: white !important
    margin: 1em
    border-radius: 10px
    height: max-content
    max-width: 300px
    width: 250px
    .v-image
      height: 300px

  .price
    padding: 0 1.1em
    text-align: start
    padding-top: 1px
    color: darkgray !important

  .v-card__title + .v-card__subtitle
    margin-top: 0px

  .v-card__subtitle, .v-card__title
    padding: 15px 15px 3px 15px
  .v-btn
    background-color: $myBlue !important
    color: $black !important
    &:hover
      color: $white !important
      transition: all 1s
  .v-card__text
    padding: 15px

// .wks
//   position: absolute
//   margin-left: auto
//   margin-right: auto
//   left: 0
//   right: 0
//   top: 45%
//   text-align: center
//   background-color: black
//   padding: 10px
//   color: #eee
//   cursor: pointer
@media screen and (max-width: 610px)
  .card_theme
    width: 300px !important
  .v-image
    height: 400px !important
  .cards
    justify-content: center
