// Main div
.workout
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url('../../images/workout-bg.jpg')
  background-position: center center
  background-size: cover
  padding: 0.5rem calc((100vw - 1200px) / 2)
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  min-height: 100vh

// Workout div  
#category-workout
  display: flex
  flex-wrap: wrap
  min-height: 50vh
  max-width: 1160px !important
  min-width: 100%
.container
  max-width: 1160px !important
.outterlayer
  min-width: 1160px
  max-width: 1200px !important
  margin: 1em auto 0 auto
  padding: 10px  

// Workout page heading 
.workout-heading 
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: row
  margin: 0em 1em 3em 1em
  width: 100%
  z-index: 1
  button 
    padding: 5px 10px
    margin: 1em -0.5em 1em 0
  .workoutCounts
    margin-right: 10px
    background: #6c757d
    min-width: 32px
    min-height: 32px
    border-radius: 50%
    color: $white
    display: flex
    justify-content: center
    align-items: center
    &:hover
      cursor: help
  // Workout heading dropdown menu
  #dropdown-1__BV_toggle_
    margin-right: 5px !important
  .dropdown-menu.show 
    display: block !important
    background-color: #272727
    .dropdown-item
      color: $white
      &:hover
        color: $black
        background: $myBlue
  .v-input
      margin-left: .5em !important
  .v-input__control      
    justify-content: center
    align-items: center
    display: flex  
  // Workout heading icon
  .v-autocomplete .mdi-menu-down::before
   content: '\F0349'

// No serach result contents  
.noResult
  width: 100%
  display: flex
  justify-content: center
  flex-direction: column
  color: white

// Workout cards     
.cards
  display: flex
  flex-wrap: wrap
  margin: 3em auto
  justify-content: flex-start
  width: 100%
  max-width: 1200px
  .card_div
    opacity: 0.9
    margin: 1em
    cursor: pointer        
  .card_theme
    background-color: $black !important
    color: $white !important
    border-radius: 10px
    height: max-content
    max-width: 350px
    min-width: 100px
    width: 200px
    .cardImage_wrap
      overflow: hidden
      position: relative
  .v-card__title
    font-size: 17px

  .cards .unlock-section .v-card__subtitle, .cards .v-card__title  
    padding: 81px 15px 3px 15px 
  .v-image
    height: 253px
  .v-card__text
    font-size: 12px 
      height: 255px
  .price_div
    padding: 0 1.1em
    text-align: start
    padding-top: 1px
    color: darkgray !important
  .unlock-section
    position: absolute
    width: 100%
    top: 0
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7))
    padding: 0
    .v-card__actions
      padding: 16px 8px 
    .v-card__title
      span
        width: 100% 
  .v-card__title + .v-card__subtitle
    margin-top: 0px
  .v-card__text
    padding: 15px
  .workoutsTitle
    color: white
    padding: 8px
    font-size: 1em
    font-weight: 500
    // display: flex
    text-align: start
    background:#1E1E1E
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    // flex-direction: column
    // align-items: flex-start
    .price
      color: darkgray !important
    p
      margin-bottom: 0px
  .v-card__subtitle, .v-card__title
    padding: 15px 15px 3px 15px
  .btn_unlocked
      background-color: #6c757d !important     
  .v-btn
    background-color: $myBlue
    color: $black !important
    width: auto !important
    &:hover
      color: $white !important
      transition: all 0.5s

//pagination
.pagination
  width: 100%
  justify-content: center
  text-align: center !important
  margin-bottom: 2em
  .theme--light.v-pagination .v-pagination__navigation
    background: #272727
  .mdi-chevron-right::before, .v-pagination__navigation .v-icon 
    color: $white
  .theme--light.v-pagination .v-pagination__item 
    background: #272727
    color: $white
    &--active
      background: #6c757d
      color: $black

// Responsive   
@media screen and (max-width: 1263px)
  #category-workout, .container
    min-width: 928px !important

@media screen and (max-width: 1179px)
  #category-workout, .container
    max-width: 928px !important

@media screen and (max-width: 955px)
  .cards .unlock-section
    .v-card__actions
      padding: 18.5px 8px
  .cards .unlock-section .details
    font-size: 10px
  .details_btn 
    width: 8em !important
  .card_div
    padding: 1em !important
    margin: 0px !important
    width:  180px !important
    .card_theme
      width: 150px !important  
      margin: 0em auto !important
    .v-image
      height: 187px !important
    .workoutsTitle
      p
        font-size: 14px
      span
        font-size: 12px    
    .v-card__title
      font-size: 12px !important
    .v-card__text
      font-size: 9px !important  
  #category-workout, .container
    min-width: 900px !important  
  .outterlayer
    min-width: 0px
    width: 900px !important
    margin: 0px
    padding: 0px

@media screen and (max-width: 914px)
  #category-workout, .container
    min-width: 720px !important  
  .outterlayer
    max-width: 720px !important
  .card_div
    width:  180px !important
    .card_theme
      width: 150px !important  
    .v-image
      height: 187px !important
    .v-card__title
      font-size: 12px !important
      padding: 2px 15px 0px 15px
      height: 2.5em
    .price, .details 
        font-size: 12px
        text-align: start
        padding-top: 1px
        color: darkgray !important         
@media screen and (max-width: 739px)
  #dropdown-1__BV_toggle_
    font-size: 10px
  #category-workout, .container
    min-width: 540px !important
  .outterlayer
    max-width: 540px !important 
  .card_div
    width:  180px !important
    .card_theme
      width: 150px !important  
    .v-image
      height: 187px !important
      border-radius: 4px
    .v-card__title
      font-size: 12px !important
      padding: 2px 15px 0px 15px
      height: 2.5em
    .price 
        font-size: 12px     
@media screen and (max-width: 539px)
  #category-workout, .container
    min-width: 360px !important  
    min-height: 350px
  .outterlayer
    max-width: 360px !important
@media screen and (max-width: 449px)
  .v-input__slot
    width: 8em !important
  #dropdown-1__BV_toggle_
    min-width: 1em
  .v-pagination__navigation
    min-width: 32px
  .workout-heading .workoutCounts
    margin-right: 0px !important
    margin-left: 5px !important
  .ml-4, .mx-4
    margin: 0 .5em !important   
  .v-toolbar__content, .v-toolbar__extension
    width: 333.64px

@media screen and (max-width: 320px)
  #category-workout
    justify-content: center !important
  .cards .unlock-section
    top: 116px  
  .card_div .details
    font-size: 16px
  .card_div .workoutsTitle p
    font-size: 24px  
  .workout-heading
    justify-content: center !important
  .card_div
    width: 300px !important
    .card_theme
      width: 250px !important  
    .v-image
      height: 315px !important
  .outterlayer
    min-width: 250px
    width: 320px
    .cards
      .row
        max-width: 320px !important
        width: 320px !important
        justify-content: center !important  
  .v-toolbar__content, .v-toolbar__extension
    width: auto 
    padding: 4px 12px !important
  .card_div
    .unlock-section 
      .v-card__actions
        padding: 1em 8px
    .v-card__title
      font-size: 1.2em !important   
    .price, .v-card__text 
      font-size: 14px !important 
@media screen and (max-width: 280px)
  .workoutCounts 
    margin-left: 0px !important
  .v-toolbar__content, .v-toolbar__extension
    width: 275px
    padding: 0px 5px !important
  .card_div 
    width: 280px !important
    margin: 1em 0
  .outterlayer
    min-width: 250px
    width: 280px
    .cards
      .row
        max-width: 280px !important
        width: 280px !important
        justify-content: center !important
        